/* vim:set sw=2 sts=2: */
body {
  background: #e0e0e0;
}

.step {
  position: relative;
  width: 1280px;
  padding: 16px;
  margin: 16px auto;
}

.step h1 {
  font-size: 56px;
}

.step h2 {
  font-size: 48px;
}

.step div {
  font-size: 40px;
  padding: 8px;
}

.step .code {
  font-size: 24px;
  color: white;
  background: black;
  padding: 16px;
  margin: 8px;
  margin-left: 64px;
  margin-right: 64px;
}

.step .code u {
  color: #99ffff;
  font-style: normal;
  text-decoration: none;
}

.step .code i {
  color: #ffccff;
  font-style: normal;
  text-decoration: none;
}

.step .ref {
  font-size: 24px;
}

.impress-enabled .step {
  margin: 0;
  opacity: 0.1;
}

.impress-enabled .step.active { opacity: 1 }

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }
